.error-page {
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1200px;
}

.error-page .card {
    margin: 10px;
    padding: 30px;
}

.error-page .text {
    margin: 30px 0 30px 0;
}